pre, code, div.gist, dl.param-list dt {
    font-family: "Source Code Pro", mono;
    font-size: $milli-size;
}

dl.param-list {
    margin: 0 0 2rem 1rem;
}

dl.param-list dt {
}

div.highlight {
    pre {
        -moz-hyphens: none;
        text-align: left;

        border: 1px solid #DDD;
        border-radius: 3px;

        box-shadow: inset 0 0 1rem #F2F2F2;

        width: 100%;
        max-width: 49rem;
        overflow-x: auto;

        padding: .5rem;
    
        code{
            -moz-hyphens: none;
            text-align: left;
        }
    }
}

div.gist, div.highlight {
    max-width: 49rem;
    margin: 0 0 0 1rem;
}
