@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:700);

* {
    -moz-hyphens: auto;
    text-align: justify;
    text-rendering: optimizelegibility;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    max-width: 50rem;
    color: #3465A4;
    text-align: left;
}

h3,h4,h5,h6 {
    color: #555753;
}

p {
    max-width: 50em;
}

a {
    color: #729FCF;
}

hr {
    border: 0;
    height: 1px;
    background-color: #BABDB6;
}

.wrapper,
%wrapper {
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 1100px;
}

header {
    font: {
        family: 'Roboto', sans;
        weight: 700;
    }
    margin: -1.7rem 0 0.6875rem -1rem;

    p.title {
        font: { 
            size: 6rem;
        }
        color: #555753;
        line-height: 6rem;
    }

    p.slogan {
        color: #BABDB6;
        font: {
            style: oblique;
        }
        margin: -2rem 2rem 0;
    }
}

.lead {
    -moz-hyphens: none;
    text-align: left;
    text-rendering: geometricPrecision;

    font: {
        size: $h2-size;
        family: "Crimson Text", serif;
        style: oblique;
    }

    padding: .5rem 4.5rem .5rem 700px;
    margin: -.25rem 0 0 -700px;
    color: white;
    background: #555753;

    border: none;
    border: {
        right: .5rem solid #729FCF;
    }
}

footer {
    @extend %wrapper;
    color: #333;

    .copyright {
        font: {
            size: $milli-size;
        }
    }

    border: 1px solid #BABDB6;
    border: {
        left: none;
        right: none;
        bottom: none;
    }

    box-shadow: 0 -1rem 1rem -1rem #D3D7CF;
    padding: 1rem 1rem 2rem;
    margin-top: 4rem;
}

ul.block-list,
ol.block-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border: none;
        border-bottom: 1px solid #BABDB6;
        padding: 0 2rem 0 0;
        margin: 0 0 1rem;
    }

    & > li:last-child {
        border-bottom: none;
    }
}
